<div id="footer">
  <div class="container">
    <div class="contact-icon-container">
      <span (click)="openWindow('https://www.facebook.com/')" class="contact-icon"><i class="fab fa-facebook-square"></i></span>
      <span (click)="openWindow('https://twitter.com/')" class="contact-icon"><i class="fab fa-twitter-square"></i></span>
      <span (click)="openWindow('https://www.youtube.com/')" class="contact-icon"><i class="fab fa-youtube-square"></i></span>
    </div>
    <div class="copyright">
      <div class="d-block d-md-inline-block">Copyright © 2021 精靈樂章S5大兔.</div>
      <div class="d-block d-md-inline-block">All rights reserved.</div>
    </div>
  </div>
</div>
